<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ลอตเตอรี่ id POST Add Item</title>
</head>
<body>
        <% if(typeof mesg != "underfined"){ %>
        <h1><%= mesg %></h1>
        <% } %>
    <form action="/additem" method="post">
        <div>
            <label>id</label>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <label>date</label>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <label>nameber</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label>reward</label>
            <input type="text" name="tagline" id="tagline">
        </div>
  
        <button type="submit">Submit</button>
    </form>
</body>
</html>
